.App {
  background-color: white;
  padding-top: 100px;
  padding-left: 100px;
}

.input{
border-color: black;
margin-top: 20px;
border-width: 2px;
height: 30px;
width: 200px;
font-size: 20px;
}
.cek{
  margin-left: 40px;
  width: 20px;
  height: 20px
}
.button{
  height: 30px;
  width: 40px;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 20px
}
.line{
  margin-top: 20px;
  width: 200px;
  margin-left: 0px;
  background-color: black;
}
.result{
  font-size: 30px;
}
.warning{
margin-left: 20px;
font-size: 20px;
color: red;
display: inline;
}
.error{
  color:red;
  font-size: 25px
}

